html, body {
  width: 400px;
}

.elt {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  background-color: #E5F2F2;
  cursor: pointer;
}

#page-link {
	text-decoration: none;
	color: black;
}

.elt:hover {
  background-color: #CFF2F2;
}
